.text {
    color: white;
}

.centerTab {
    display: flex;
    justify-content: center;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: solid #555 0px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}

.tablink:hover {
    background-color: rgb(116, 116, 116);
    color: white;
    float: left;
    border: solid rgb(116, 116, 116) 0px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}

.ontablink {
    background-color: rgb(116, 116, 116);
    color: white;
    float: left;
    border: solid rgb(116, 116, 116) 0px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
}

.imgHover {
    opacity: 1.0;
}

.imgHover:hover {
    opacity: 0.8;
}